.App {
  text-align: center;
}
body {
  background-image: url("https://media1.giphy.com/media/eJEvETAuEly6H7jGaR/giphy.gif?cid=6c09b952c11f6a46f04e63f7d86f4f66901a440c6b423dae&rid=giphy.gif&ct=s");
}
.form input {
  width: 300px;
  height: 50;
}
.card {
  width: 400px;
  height: 90px;
  border: 2px solid palevioletred;
  margin: 5px;
}
